<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>File Attribute Actions</string>
	<key>CFBundleExecutable</key>
	<string>File Attribute Actions</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSFileAttributesPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>File Attribute Actions</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>E4</string>
	<key>QSActions</key>
	<dict>
		<key>QSClearCustomFileIconAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSHFSAttributeActions</string>
			<key>actionSelector</key>
			<string>clearIconForFile:</string>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>icon</key>
			<string>com.apple.finder</string>
			<key>name</key>
			<string>Clear Custom Icon</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>QSHFSLockAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSHFSAttributeActions</string>
			<key>actionSelector</key>
			<string>lock:</string>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>name</key>
			<string>Lock File</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>QSHFSMakeInvisibleAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSHFSAttributeActions</string>
			<key>actionSelector</key>
			<string>makeInvisible:</string>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>name</key>
			<string>Make Invisible (hide)</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>QSHFSMakeVisibleAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSHFSAttributeActions</string>
			<key>actionSelector</key>
			<string>makeVisible:</string>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>name</key>
			<string>Make Visible (Show)</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>QSHFSSetLabelAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSHFSAttributeActions</string>
			<key>actionSelector</key>
			<string>setLabelForFile:to:</string>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>name</key>
			<string>Set Label...</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>QSHFSUnlockAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSHFSAttributeActions</string>
			<key>actionSelector</key>
			<string>unlock:</string>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>name</key>
			<string>Unlock File</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>QSSetFileIconAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSHFSAttributeActions</string>
			<key>actionSelector</key>
			<string>setIconForFile:to:</string>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>icon</key>
			<string>com.apple.finder</string>
			<key>name</key>
			<string>Set Icon...</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Blacktree, Inc.</string>
		<key>categories</key>
		<array>
			<string>Files</string>
		</array>
		<key>description</key>
		<string>File locking, labeling and visibility actions</string>
		<key>extendedDescription</key>
		<string>&lt;h2&gt;File Attribute Actions&lt;/h2&gt;

&lt;p&gt;The File Attribute Actions plugin adds actions to Quicksilver that enable you to alter the attributes of system files on your computer. This includes, altering the visibility of files and folders, locking files and folders, and setting labels, comments and icons of files.&lt;/p&gt;

&lt;h2&gt;Actions&lt;/h2&gt;

&lt;h3&gt;Lock/Unlock File&lt;/h3&gt;

&lt;p&gt;These actions lock or unlock the file(s) in Quicksilver&apos;s 1st pane. Locking a file is equivalent to ticking the &apos;Lock&apos; checkbox in the &apos;Get Info&apos; panel of a file, and makes the file or folder read only.&lt;br /&gt;
This action works with the &apos;&lt;a href=&quot;http://qsapp.com/wiki/Comma_Trick&quot;&gt;comma trick&lt;/a&gt;&apos;.&lt;/p&gt;

&lt;h3&gt;Make Visible (show) &amp; Make Invisible (hide)&lt;/h3&gt;

&lt;p&gt;These actions alter the display of files or folders within Finder. Making an item invisible means it does not display in Finder. An example of an invisible folder is the &lt;code&gt;~/Library&lt;/code&gt; folder. Works with the &apos;comma trick&apos;.&lt;/p&gt;


&lt;h3&gt;Set Icon...&lt;/h3&gt;

&lt;p&gt;Allows you to alter the icon that is displayed by Finder for the file or folder. To un-set an icon, open the file in Finder and select &apos;Get Info&apos; (⌘I). From here you can &apos;delete&apos; the icon. Works with the &apos;comma trick&apos;.&lt;/p&gt;

&lt;h3&gt;Clear Custom Icon&lt;/h3&gt;

&lt;p&gt;Clears the custom icon set for the selected file(s). Works with the &apos;comma trick&apos;.&lt;/p&gt;

&lt;h3&gt;Set Label...&lt;/h3&gt;

&lt;p&gt;Sets the Finder label to the specified colour in Quicksilver&apos;s 3rd pane. To clear the colour label of a file, select &apos;None&apos; in Quicksilver&apos;s 3rd pane.&lt;/p&gt;


&lt;h3&gt;Set File Comment&lt;/h3&gt;

&lt;p&gt;Sets the &apos;Spotlight comments&apos; as shown in a file&apos;s &apos;Get Info&apos; panel.&lt;/p&gt;</string>
		<key>icon</key>
		<string>GenericDocumentIcon</string>
	</dict>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSHFSAttributeActions</key>
			<string>QSHFSAttributeActions</string>
		</dict>
	</dict>
</dict>
</plist>
